<select class="form-control" id="shipDropdown" multiple="multiple" required>
    <option value="All">All Ships</option>
    <option value="Discovery">Discovery</option>
    <option value="Bliss">Bliss</option>
    <option value="Breakaway">Breakaway</option>
    <option value="Dawn">Dawn</option>
    <option value="Encore">Encore</option>
    <option value="Epic">Epic</option>
    <option value="Escape">Escape</option>
    <option value="Explorer">Explorer</option>
    <option value="Gem">Gem</option>
    <option value="Getaway">Getaway</option>
    <option value="Grandeur">Grandeur</option>
    <option value="Insignia">Insignia</option>
    <option value="Jade">Jade</option>
    <option value="Jewel">Jewel</option>
    <option value="Joy">Joy</option>
    <option value="Marina">Marina</option>
    <option value="Mariner">Mariner</option>
    <option value="Nautica">Nautica</option>
    <option value="Navigator">Navigator</option>
    <option value="Pearl">Pearl</option>
    <option value="PrideOfAmerica">Pride Of America</option>
    <option value="Prima">Prima</option>
    <option value="Regatta">Regatta</option>
    <option value="Riviera">Riviera</option>
    <option value="Sirena">Sirena</option>
    <option value="Spirit">Spirit</option>
    <option value="Sky">Sky</option>
    <option value="Splendor">Splendor</option>
    <option value="Star">Star</option>
    <option value="Sun">Sun</option>
    <option value="Voyager">Voyager</option>
    <option value="Vista">Vista</option>
    <option value="Viva">Viva</option>
    </select>